@media screen and (max-width:1300px) {

.buddypress-wrap .groups-list li .item-block h2 a, .buddypress-wrap .blogs-list li .item-block h2 a { font-size:13px; }

.bp-user #buddypress .main-navs.bp-navs ul li { padding: 11px 11px; }

.single-headers #cover div#item-header-content { width: 67%; }
.buddypress-wrap #members-list.bp-list li .item-avatar { padding: 8px; }
.buddypress-wrap #members-list li .item-block h2 a { font-size:15px; }
.buddypress-wrap #members-list li .online-status { top:5px; }
.buddypress-wrap #members-list li .user-update { font-size: 12px; }

.single-headers #item-header-avatar a img { padding:9px; }
#item-header .item-header-badges { right: 15px; bottom: 15px; }
#item-header .item-header-badges img.gamipress-rank-thumbnail { height: 18px; width: auto; }
#item-header #gamipress-achievements-container .gamipress-achievement { width: 20px; }

#sidebar .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail img { padding: 5px; }
#sidebar .bp-sidebar-details-groups li img, #sidebar .left-sidebar-details-friends li img { padding: 4px; }

#buddypress #item-header-content .generic-button a, #buddypress #item-header-content .generic-button button.friendship-button, #buddypress.buddypress-wrap #item-header-content .generic-button button.friendship-button { padding: 3px 8px; font-size: 12px!important; }
#buddypress #item-header-content .generic-button button.friendship-button { padding-top: 2px!important; padding-bottom: 2px!important; }

#item-body .rtmedia-list-media li { width: 23.4%; margin-top: 0; }
#item-body .rtmedia-list-media li .rtmedia-list-item-a { width: 100%; height: auto; }
#item-body .rtmedia-list-media li .rtmedia-item-thumbnail { width: 100%; height: auto; }
#item-body .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail { line-height: 0; }
#item-body .rtmedia-list-media li .rtmedia-item-thumbnail img { width: 100%; height: auto; }

}


@media screen and (max-width:1024px) {

#left-sidebar.bp-group, #left-sidebar.bp-user { width: 280px; padding-left: 15px; padding-right: 15px; }
.buddypress-wrap .groups-list li, .buddypress-wrap .blogs-list li { width: 30%; margin-right: 5%; margin-bottom: 5%; }
.buddypress-wrap .groups-list li:nth-of-type(6n), .buddypress-wrap .blogs-list li:nth-of-type(6n) { margin-right: 5%; }
.buddypress-wrap .groups-list li:nth-of-type(3n), .buddypress-wrap .blogs-list li:nth-of-type(3n) { margin-right: 0%; }
.buddypress-wrap .groups-list li .item-block h2 a, .buddypress-wrap .blogs-list li .item-block h2 a { font-size:15px; }

.buddypress-wrap #members-list.bp-list li .item-avatar { padding: 12px; }
.buddypress-wrap #members-list li.item-entry { width: 30%; margin-right: 5%; margin-bottom: 5%; }
.buddypress-wrap #members-list li.item-entry:nth-child(6n) { margin-right: 5%; }
.buddypress-wrap #members-list li.item-entry:nth-child(3n) { margin-right: 0%; }
.buddypress-wrap #members-list li .item-block h2 a { font-size:18px; }
.buddypress-wrap #members-list li .online-status { top:8px; }
.buddypress-wrap #members-list li .user-update { font-size: 13px; }

.buddypress.widget ul.item-list li { width: 14%; margin-right: 3.2%; }
.buddypress.widget ul.item-list li:nth-of-type(3n) { margin-right: 3.2%; }
.buddypress.widget ul.item-list li:nth-of-type(6n) { margin-right: 0%; }

#item-body .rtmedia-list-media li { width: 23.5%; }

.buddypress-wrap .bp-invites-content ul#members-list li { margin-right: 4%; width: 16.8%; margin-bottom: 4%; }
.buddypress-wrap .bp-invites-content ul#members-list li:nth-of-type(10n) { margin-right: 4%; }
.buddypress-wrap .bp-invites-content ul#members-list li:nth-of-type(5n) { margin-right: 0%; }

.single-headers #cover { height: 350px; }
.single-headers #latest-update, .single-headers .group-description {  font-size: 14px; }
.single-headers #cover #item-header-avatar { width: 120px; }
#item-header #cover .item-header-badges img.gamipress-rank-thumbnail { height: 16px; }
.single-headers #cover div#item-header-content { width: 69%; left: 180px; }
.single-headers h2 a { font-size: 21px; }

.layout-col-3 #item-body { width: 100%; float: left; }
.bp-user .wrapper, .single-item.groups .wrapper { position: static; }

.footer-columns-col-2 { margin-left: 5%; }
.footer-columns-col-3 { margin-left: 5%; }

}




@media screen and (max-width:760px) {

body.registration .buddypress-wrap #page-header { min-height: 100px; }

.buddypress.widget ul.item-list li { width: 30%; margin-right: 5%; }
.buddypress.widget ul.item-list li:nth-of-type(6n) { margin-right: 5%; }
.buddypress.widget ul.item-list li:nth-of-type(3n) { margin-right: 0%; }

.buddypress-wrap .groups-list li, .buddypress-wrap .mygroups .groups-list li, .buddypress-wrap .blogs-list li.item-entry { width: 47%!important; margin-right: 6%!important; margin-bottom: 6%!important; }
.buddypress-wrap .groups-list li:nth-of-type(3n), .buddypress-wrap .mygroups .groups-list li:nth-of-type(3n), .buddypress-wrap .blogs-list li:nth-of-type(3n) { margin-right: 6%!important; }
.buddypress-wrap .groups-list li:nth-of-type(2n), .buddypress-wrap .mygroups .groups-list li:nth-of-type(2n), .buddypress-wrap .blogs-list li:nth-of-type(2n) { margin-right: 0%!important; }
.buddypress-wrap .groups-list li .item-block h2 a, .buddypress-wrap .mygroups .groups-list li .item-block h2 a, .buddypress-wrap .blogs-list li .item-block h2 a { font-size:14px; }

.directory #buddypress .dir-navs { float:left; margin-top: 15px; width: 100%; }
.directory #buddypress .dir-navs ul li { padding: 4px 8px; }
.directory #buddypress .dir-navs ul li { font-size: 10px; }

#buddypress .main-navs.bp-navs.activity-type-navs li.object-nav-menu-button { padding:5px 0px 5px 0px;  }
#buddypress .main-navs.bp-navs li.object-nav-menu-button a.object-nav-menu-button-a { background-size: 60% auto; }
#buddypress .main-navs.bp-navs .object-nav-menu { top:40px; }

.buddypress-wrap .bp-subnavs ul.subnav li { margin-bottom: 3px; }
.buddypress-wrap .bp-subnavs ul.subnav li a { font-size: 10px; }

.buddypress-wrap #members-list li .item-avatar { padding: 10px; }
.buddypress-wrap .widget_bp_core_members_widget #members-list li .item-avatar { padding: 0; }
.buddypress-wrap #members-list li.item-entry { width: 46%; margin-right: 8%; margin-bottom: 8%; }
.buddypress-wrap #members-list li.item-entry:nth-child(3n) { margin-right: 8%; }
.buddypress-wrap #members-list li.item-entry:nth-child(2n) { margin-right: 0%; }
.buddypress-wrap #members-list li .item-block h2 a { font-size:16px; }
.buddypress-wrap #members-list li .online-status { top:6px; }
.buddypress-wrap #members-list li .user-update { font-size: 12px; }
.buddypress-wrap #members-list li .member-location { font-size: 12px; }

.buddypress #item-body #members-list li.item-entry, #friend-list li.item-entry { width: 47%; margin-right: 5.6%; margin-bottom: 5%; }
.buddypress #item-body #members-list li.item-entry:nth-child(3n), #friend-list li.item-entry:nth-child(3n) { margin-right: 5.6%; }
.buddypress #item-body #members-list li.item-entry:nth-child(2n), #friend-list li.item-entry:nth-child(2n) { margin-right: 0%; }

.buddypress-wrap .subnav-search, .buddypress-wrap .user-messages-search { width: 160px; }
.buddypress-wrap .subnav-filters .bp-search button.nouveau-search-submit { background-size: 18px auto; }
.buddypress-wrap .subnav-filters .component-filters { width: 130px; }
.buddypress-wrap .item-body .subnav-filters .component-filters { width: 140px; }

.buddypress .bp-tables-user tr th, .buddypress .bp-tables-user tr td, .buddypress table.wp-profile-fields tr th, .buddypress table.wp-profile-fields tr td, .buddypress table.forum tr th, .buddypress table.forum tr td { padding: 5px 7px !important; font-size: 12px; }

.bp-pagination .pag-count { font-size: 11px; width: 100%; }
.page-numbers, #member-dir-pag-bottom .page-numbers, .pagination-links .page-numbers { font-size: 14px!important; padding: 6px 12px!important; }
.bp-pagination .bp-pagination-links { float: left!important; margin-top: 20px; }

.activity-update-form #whats-new-avatar { width: 50px; }
.activity-update-form #whats-new-content { padding-left:70px; }
.activity-update-form #whats-new-textarea textarea { font-size: 13px; }
#whats-new-form .rtmedia-uploader-div { margin-left: 70px!important; }
.directory .activity-update-form #whats-new-submit { float: left; margin-left: 60px; }

.activity-list .activity-inner .rtmedia-activity-container .rtm-activity-media-list li { width: 100%; }
.activity-list .activity-header p, .activity-list .activity-header p a { font-size: 13px!important; line-height: 17px; }
.activity-list .activity-header .time-since { font-size: 12px; }
.activity-list li.activity-item .activity-content .activity-inner p, .activity-list li.activity-item .activity-content .activity-inner .rtmedia-activity-text { font-size: 13px; }

.single-item.groups .layout-col-3, .bp-user .layout-col-3 { margin-top:20px; }

.single-headers #cover { height: 450px; }
.single-headers.groups-header #cover { height: 380px; }
.single-headers #item-header-wrappper { position: absolute; width: 100%; bottom: 20px; z-index: 1; }
.single-headers #item-header-avatar { width: 36%; }
.groups-header.single-headers #item-header-avatar { width: 24%; }
.single-headers div#item-header-content { width: 100%; float: none; margin-top: 10px; }
.single-headers #cover div#item-header-content { margin-top: 0; }
.groups-header.single-headers div#item-header-content { width: 100%; }
#item-header:not(.has-bp-cover) #item-header-content h2, #item-header:not(.has-bp-cover) #item-header-content #item-header-details { display: none; }
#item-header-mobile { display: block; }
#item-header-mobile h2, #item-header-mobile h2 a { font-size: 18px; }
.single-headers h2, .single-headers h2 a { font-size: 18px; }
.single-headers #item-header-details, .single-headers #item-header-details .user-nicename, .single-headers #item-header-details .activity, .single-headers #item-header-details .profile-balance { font-size: 11px; }
#item-header #gamipress-achievements-list { display: none; }
#item-header #cover #gamipress-achievements-list { display: block; width: 90%; position: static; margin-left: auto; margin-right: auto; margin-bottom: 5px; overflow: hidden; }
#item-header #item-header-mobile #gamipress-achievements-list { display: block; position: static; margin-top: 7px; }
#item-header #item-header-mobile #gamipress-achievements-list .gamipress-achievement { margin-left: 0px; margin-right: 5px; margin-bottom: 5px; width: 16px; }
#item-header #gamipress-achievements-container .gamipress-achievement { width: 16px; }
#item-header #cover #gamipress-achievements-container { text-align: center; display: block; }
#item-header #cover #gamipress-achievements-container .gamipress-achievement { width: 8%; margin-left: 0; display: inline-block; }
#item-header #cover #gamipress-achievements-container .gamipress-achievement.user-has-not-earned { display: none; }
#item-header .item-header-badges { right: 12px; bottom: 10px; }
#item-header .item-header-badges .mycred-badge-image { width: 18px; height: auto; margin-left: 0px; margin-right: 4px; margin-bottom: 4px; }
#item-header .item-header-badges img.gamipress-rank-thumbnail { height: 12px; width: auto; }
.single-headers #item-header-avatar .mycred-my-rank { right: 12px; bottom: 10px; }
#item-header-avatar .mycred-my-rank img { height: 17px; width: auto; }
.single-headers #latest-update, .single-headers .group-description { font-size: 12px; }
.member-header-actions.action { padding-bottom: 3px; }
.single-headers #cover .member-header-actions div.generic-button { margin-bottom: 7px; }
.single-headers #cover #item-header-content .groups-meta.action { position: static; margin-top: 10px; }
.single-headers#item-header #cover .group-button { font-size: 12px; padding: 3px 9px; }

.single-headers #cover #latest-update, .single-headers #cover .group-description { margin-top: 15px; width: 90%; padding: 10px 15px; text-align: center; line-height: 1.3em; }
.single-headers #cover #item-header-avatar { width: 120px; position: relative; margin: 0 auto; left: auto; bottom: auto; margin-bottom: 12px; float: none; }
.single-headers #cover #item-header-avatar a img { padding: 6px; }
#item-header #cover .item-header-badges img.gamipress-rank-thumbnail { height: 16px; width: auto; }
#item-header #cover .item-header-badges { right: 10px; bottom: 14px; }
.single-headers #cover div#item-header-content { width: 100%; position: static; text-align: center; }
.single-headers.groups-header #cover div#item-header-content { bottom: 20px; }
#item-header #cover #gamipress-achievements-list .gamipress-achievement { float: none; }

.group-act-search { width: 150px; }

.single-headers#item-header .group-button { font-size: 12px; padding: 3px 10px; }

#item-body .rtmedia-list-media li { width: 30%; }
#item-body .rtmedia-list-media li .rtmedia-item-thumbnail img { padding: 4px!important; }

#group-create-body .group-create-buttons li a { font-size: 12px; }

.buddypress-wrap .bp-invites-content ul#members-list li { margin-right: 5%; width: 30%; margin-bottom: 4%; }
.buddypress-wrap .bp-invites-content ul#members-list li:nth-of-type(5n) { margin-right: 5%; }
.buddypress-wrap .bp-invites-content ul#members-list li:nth-of-type(3n) { margin-right: 0%; }
.buddypress-wrap .bp-invites-content ul#members-list li .item .member-name { font-size: 12px; }

.buddypress-wrap .profile-fields tr td { font-size: 12px; padding: 12px!important; }

.buddypress-wrap .register-section { width: 100%; margin-right: 0px; }

.buddypress-wrap .bp-feedback p { font-size: 12px; line-height: 1.3em; }

.activity-inner .rtmedia-list li.rtmedia-list-item { max-width: 320px; }

}